<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uinbdg.skripsi.pesantren">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="uinbdg.skripsi.pesantren.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name="uinbdg.skripsi.pesantren.Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="uinbdg.skripsi.pesantren.Activities.LoginActivity" />
        <activity android:name="uinbdg.skripsi.pesantren.Activities.MainActivity" />
        <activity android:name="uinbdg.skripsi.pesantren.Activities.DaftarActivity" />
        <activity android:name="uinbdg.skripsi.pesantren.Activities.SearchPesantrenActivity" />
        <activity android:name="uinbdg.skripsi.pesantren.Activities.PesantrenActivity" />
        <activity android:name="uinbdg.skripsi.pesantren.Activities.MapsDetailActivity" />
        <activity android:name="uinbdg.skripsi.pesantren.Activities.TentangActivity"></activity>
    </application>

</manifest>